LOGS_DIR=logs
LOGLEVEL=DEBUG
POSTGRES_HOST=hems202.hydroquebec.lab

MOCK_GDP_EVENTS_PATH=./peak-events.json

BUILDING_ID=HEMS202
HEAT_PUMP_MODEL=DLCERBH18AAK
ENVIRONMENT_SENSOR_ID=climate.heat_pump
HEMS_API_BASE_URL=http://hems-api.hydroquebec.lab:8500

BASE_HA_URL=http://hems202.hydroquebec.lab:8123
SUPERVISOR_TOKEN=your_real_ha_token